<!DOCTYPE html>
<html>
    <%- include('partials/header') -%>
    <body>

        <h1> Pixabay Search Results </h1>
        
        <form action="/results">
            
            Keyword: <input type="text" name="keyword">
            <button> Search! </button>
            
        </form> <br>
        
        <span><%=images.hits[index1].likes%></span><br>
        <img src='<%= images.hits[index1].largeImageURL %>' width='250'>
        <br><br>
        
        <span><%=images.hits[index2].likes%></span><br>
        <img src='<%= images.hits[index2].largeImageURL %>' width='250'>
        <br><br>
        
        <span><%=images.hits[index3].likes%></span><br>
        <img src='<%= images.hits[index3].largeImageURL %>' width='250'>
        <br><br>
        
        <span><%=images.hits[index4].likes%></span><br>
        <img src='<%= images.hits[index4].largeImageURL %>' width='250'>
        <br><br>
        

    </body>
</html>