<!DOCTYPE html>
<html>
    <%- include('partials/header') -%>
    <body>

        <div class= 'jumbotron'>
        <h1> Open Library API Search Results </h1>
        </div>
        <button class='btn btn-info' onclick='location.href="/";'>Search Again?</button>
        
        <ul id='movies'>
            <h1></h1>
                <%= data["ISBN:" + keyword].by_statement %>
                Author(s): <%= data["ISBN: " +  keyword].by_statement %>
                Publisher(s): <%= data["ISBN: " +  keyword].publishers[0].name %>
                Date Published: <%= data["ISBN:" + query].publish_date %>
                Number Of Pages: <%= data["ISBN:" + query].number_of_pages %>
                <img class="poster" src="<%= data["ISBN:" + query].cover.large %>">
            <h1>
        </ul>
    </body>
</html>